[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = {version = "==2.1.1",file = "https://download.pytorch.org/whl/cpu/torch-2.1.2-cp39-none-macosx_11_0_arm64.whl"}
torchvision = "*"
torchaudio = "*"
matplotlib = "*"
ipykernel = "*"
urllib3 = "<2.0"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.9"
